* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* height: 100vh; */
}


/* *********************************HEADER, BODY, MAIN, FOOTER****************************** */
footer {
    padding: 270px 270px;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    background: #283048;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    align-content: center;
    padding: 0;
}

body {
    /* background: #BBD2C5;
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5); */
    background: linear-gradient( #233d4d, #131414);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px;
}

main {
    padding: 80px 110px 110px;
    display:flex;
    justify-content: center;
    
}


/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 45px;
    padding: 0.10rem 0.10rem;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}



.navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    align-content: center;
    z-index: 1000;
}

.navbar a {
    color: palegoldenrod;
}

.cerati-pixel-nav {
    font-size: 35px;
    font-weight: 800;
    color: palegoldenrod;
}

.gustavo {
    height: 80px;
    padding: 10px 10px;
}

.icon {
    /* width: 45px; */
    /* padding: 3px 3px; */

    max-width: 20px;
}

.imagen-lupa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}


.navbar-list li {
    padding: 10px;
}


/* ***********************PRIMERA SECCION*********************** */


.hero {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 40px 200px 40px 40px;
    background: #131f25;
    border-radius: 15px;
    /* margin-inline: auto; */
}

/* ***************PRIMERA CAJA**************************** */

.caja1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 500px;
}

.caja1 h1 {
   padding: 20px;
    color: rgba(255, 255, 255, 0.973)
}

.caja1 p {
   color: #a6a6b6;
}

.botones {
    display: flex; 
    padding: 40px 20px;
    gap: 70px; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boton1, .boton2 {
    padding: 10px;
    border-radius: 10px;
    background: #283048;
    gap: 20px;
    border: none;
    transition: all 600ms ease;
}

.botones a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ******************SEGUNDA CAJA***************************** */

.caja2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0;
}

.caja2 h1 {
    color: rgba(255, 255, 255, 0.973)
}

.caja2 img {
    width: 180px;
    background: rgba(128, 128, 128, 0.358);
    border-radius: 10px;
}

.caja2 {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* .caja-texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 60px 400px;
    border-radius: 10px;
    color: rgb(166, 166, 182);
} */





/* **************************SECCION CARDS******************************* */

.card {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    /* max-width: 1000px; */
}

.primer-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px 30px;
    /* max-width: 350px; */
    background: #33373e;
    color: #a6a6b6;
    gap: 15px;
    overflow: auto;
    transition: all 1s ease;
    cursor: pointer;
    /* max-width: 1000px; */
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #141619;
    /* max-width: 1200px; */
    /* margin-inline: auto; */
    border-radius: 15px;
    padding: 50px;
    max-width: 1000px;
}

.card-info h1 {
    color: #657984;
    
}

.primer-card p {
    font-weight: 600;
    color: #e7e7ec;
    text-align: center;
     /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
} 

.primer-card h3 {
    background: #192b49;
    border-radius: 10px;
    padding: 5px;
}


/* ************************ SECCION CONTACTO ********************************* */


.contacto {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 900px;
}
    

.contacto-caja1 {
 display: flex;
 justify-content: center;
 align-items: center;
 background: #3b627c;
 color: #070606;
}

.contacto-caja1 h3 {
    padding: 40px;
}

.contacto-caja2 { 
 display: flex;
 flex-direction: column;
 background: white;
 padding: 30px 110px; 
}

.rellenar-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.rellenar-info li, input {
    background: #1a1c20;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}


.contacto-caja2 h2 {
    padding: 15px 0px 20px; 
}

.rellenar-info button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #141619;
    max-width: 100px;
    margin-inline: auto;
    transition: all 600ms ease;
    color: #657984;
    font-weight: 700;
}

.boton-enviar:hover {
    background: #141619;
    transform: scale(1.2);  
    cursor: pointer;
}

.rellenar-info p {
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 5px;
    max-width: 250px;
    margin-inline: auto;
    font-size: 15px; 
}

.primer-card:hover {
    transform: scale(1.1);  
    background-color: #1a2238; 
}



/* *********** FOOTER ******************* */


.footer-final {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #4d5671;
    padding: 60px;
    border-radius: 15px;
    gap: 10px;
    max-width: 900px;
}


.footer-final p {
    font-weight: 500;
}

/* *************** ANIMACIONES/TRANSITIONS ******************************* */

@keyframes card-infoanimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes translateX {
    100% {
        transform: translateX(100)
    }

    0% {
        transform: translateX(0);

    }
}

body, .contacto, .hero, section, .card-info, footer, main, header {
    animation-name: translateX, card-infoanimation;
    animation-duration: 2000ms;

}

.navbar-list a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.5s ease;
}

/* .navbar-list .links2 {
    position: relative;
    padding-bottom: 0.75rem;
} */

.navbar-list a {
    position: relative;
    padding-bottom: 0.75rem;
    /* margin-top: 15px; */
}

.navbar-list a:hover::after {
    width: 80%;
}

.boton1:hover, .boton2:hover {
   background: #283048;
   transform: scale(1.2); 
   background-color: #222b46;
   /* cursor: pointer; */
} 



/* ********************* MEDIAQUIERIES ***************************** */


/* @media (min-width: 576px) and (max-width: 767.98px) {
    body, header, main {
        width: 576px;
    }

    .navbar {
        gap: 0%;
    }

    .hero {
        gap: 0%;
        padding: 10px;
    }

    .caja1 {
        padding: 50px;
    } */


    


 
















  



