* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    height: 60px;
    background: #283048;
    position: sticky;
    top: 0;
}

body {
  

 
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #233d4d, #131414);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.gustavo {
    height: 80px;
    padding: 10px 10px;


}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding: 15px 20px 15px 15px;


}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    padding: 10px 30px;
}

.navbar a {
    color: palegoldenrod;

}

.cerati-pixel-nav {
    font-size: 35px;
    font-weight: 800;
    color: palegoldenrod;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    /* border-radius: 20px; */
    padding: 100px;
    
}

/* caja 1 */

.caja1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 50px;
    max-width: 500px;
   


}

.caja1 h1 {
   padding: 20px;
    color: rgba(255, 255, 255, 0.973)
}

.caja1 p {
   color: #a6a6b6;
}

 
.botones {
    display: flex; 
    padding: 40px 20px;
    gap: 70px; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boton1, .boton2 {
    padding: 10px;
    border-radius: 10px;
    background: #283048;
    gap: 20px;
    border: none;
    transition: all 600ms ease;
}

.botones a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 400; */
}

/* caja 2 */

.caja2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid red; */
    padding: 20px 0px;
    text-align: center;
    gap: 20px;
    max-width: 500px;
    


}

.caja2 h1 {
    color: rgba(255, 255, 255, 0.973)
}

.caja2 img {
    width: 180px;

}

.caja2 {
    /* border: 1px solid red; */
    padding: 0px 0px 40px;

}

/* caja texto */

.caja-texto1 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 60px 400px;
    border-radius: 10px;
    color: rgb(166, 166, 182);
    /* gap: 20px; */

}

/* MEDIAQUERIES */

/* @media (el desde o el hasta: pixeles) {

selector{
propiedad:valor
}
} */

/* @media (max-width: 1200px) {
    body {
        background: red;
    }
} */

/* @media (min-width: 900px) {

    .caja1 {
        flex-direction: row-reverse;
    }

} */




 .boton1:hover, .boton2:hover {
    background: #283048;
    transform: scale(1.2); /* Aumentar ligeramente el tamaño con transform */
    /* Eliminar el cambio de padding */
} 

/* card */

.card {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
}

.primer-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px 20px;
    max-width: 400px;
    background: #33373e;
    color: #a6a6b6;
    /* border: 1px solid red; */
    gap: 15px;
    overflow: auto;
    transition: all 1s ease;
}

.info-caja {
    /* border: 1px solid red; */
}

.texto {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.card-info {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #141619;
    max-width: 1000px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 30px;
}

.card-info h1 {
    color: #657984;
}



.primer-card p {
    font-weight: 600;
    color: #e7e7ec;
    text-align: center;
}

.primer-card h3 {
    background: #192b49;
    border-radius: 10px;
    padding: 5px;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    /* border: 1px solid red; */
    text-align: center;
    margin-inline: auto;
    max-width: 1000px;
    /* height: 400px; */
    
}

main {
    padding: 150px;
    /* border: 1px solid red; */
}

.contacto-caja1 {
 /* border: 1px solid red; */
 display: flex;
 justify-content: center;
 align-items: center;
 background: #233d4d;
 padding: 198px;
 width: 800px;
  /* white-space: wrap; */
}
.contacto-caja2 {
 /* border: 1px solid red; */
 display: flex;
 justify-content: center;
 align-items: center;
 background: white;
 padding: 22px 110px;
 text-decoration: none;
}

.rellenar-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rellenar-info li, input {
    /* border: 1px solid red; */
    background: #192b49;
    border: none;
    border-radius: 5px;
    padding: 5px;
    /* overflow: auto;
    max-width: 600px; */
}

.contacto-caja2 h2 {
    padding: 0px 0px 30px;
    
}

.rellenar-info button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #141619;
    max-width: 70px;
    margin-inline: auto;
    transition: all 600ms ease;
    color: #657984;
    font-weight: 700;
}

.boton-enviar:hover {
    background: #141619;
    transform: scale(1.2);  
}

.rellenar-info p {
    /* border: 1px solid red; */
    font-weight: 600;
    background: #9da9b1;
    border-radius: 10px;
    
}


.primer-card:hover {
    background: #33373e;
    transform: scale(1.1);  
    
}

/* footer */

footer {
    padding: 50px;
}

.footer-final {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #4d5671;
    padding: 50px;
    border-radius: 15px;
    gap: 10px;
}

.footer-final p {
    font-weight: 500;
}